input[type='text'],
input[type='password'] {
	border:							2px outset rgba(136, 136, 136, 0.4);
}

input[type='submit'] {
	cursor:							pointer;
	cursor:							hand;
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button):not(.ui-button),
select,
input[type='checkbox'],
input[type='radio'] {
box-shadow: 					0 1px 0 rgba(0, 0, 0, 0.08),
									inset 0 1px 2px rgba(255, 255, 255, 0.75);
-webkit-box-shadow:				0 1px 0 rgba(0, 0, 0, 0.08),
									inset 0 1px 2px rgba(255, 255, 255, 0.75);
background-image:				-webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button),
select,
input[type='checkbox'],
input[type='radio'] {
-webkit-appearance:				none;
-webkit-user-select:			none;
border: 						1px solid rgba(0, 0, 0, 0.25);
border-radius: 					4px;
-webkit-border-radius: 			4px;
color: 							#444444;
font: 							inherit;
margin: 						0 1px 0 0;
outline: 						none;
text-shadow: 					0 1px 0 rgb(240, 240, 240);
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button),
select {
min-height: 					2em;
min-width: 						4em;
padding-bottom: 				0px;
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button) {
-webkit-padding-end: 			10px;
-webkit-padding-start: 			10px;
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button):hover,
:-webkit-any(button,
input[type='button'],
input[type='submit']).hover:not(.custom-appearance):not(.link-button),
:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button):focus,
select {
	outline:						none;
	-webkit-box-shadow:				-1px -1px 0.1em 0.01em #799BD2, 1px 1px 0.1em 0.01em #799BD2, 0px -2px 0.4em 0.05em #808080 inset;
	box-shadow:						-1px -1px 0.1em 0.01em #799BD2, 1px 1px 0.1em 0.01em #799BD2, 0px -2px 0.4em 0.05em #808080 inset;
	border-color:					#799BD2;
	border-style:					solid;
}

select {
-webkit-appearance: 			none;
-webkit-padding-end: 			20px;
-webkit-padding-start: 			6px;
background-image: 				url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAQAAACxSAwfAAAAUklEQVQY02P4z0AMRGZGMaShwCisyhITmb8huMzfEhOxKvuvsGAh208Ik+3ngoX/FbBbClcIUcSAw21QhXxfIIrwKAMpfNsEUYRXGVCEFc6CQwBqq4CCCtU4VgAAAABJRU5ErkJggg=='),
									-webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
}

table {
border-collapse:				collapse;
border-color:					#999999;
margin-top:						.5em;
}

th {
background-color:				#BBBBBB;
color:							#000000;
}

td,th {
padding:						.25em;
}

.label {
text-align: 					right;
}

.error {
color: 							#FF0000;
}

/* Custom style */
html {
	height:							100%;
}

body {
background:						#666666 url(../img/background.png) 50% 0% repeat-y;
font-family:					helvetica, arial, san-serif;
background-position:			top center;
background-repeat:				repeat-y;
width:							100%;
height:							92%;
margin:							auto;
	font-size:						0.8em;
}

input {
border-radius: 					4px;
-webkit-border-radius: 			4px;
	-webkit-box-shadow:				-2px -4px 0.6em 0.04em rgba(128, 128, 128 ,0.3) inset, 2px 2px 0.4em 0.05em rgba(128, 128, 128, 0.5);
	box-shadow:						-2px -4px 0.6em 0.04em rgba(128, 128, 128 ,0.3) inset, 2px 2px 0.4em 0.05em rgba(128, 128, 128, 0.5);
}

input:hover,
input:focus,
input.hover {
	outline:						none;
	-webkit-box-shadow:				-1px -1px 0.1em 0.01em #799BD2, 1px 1px 0.1em 0.01em #799BD2, 2px 4px 0.6em 0.2em rgba(136, 136, 136, 0.3) inset;
	box-shadow:						-1px -1px 0.1em 0.01em #799BD2, 1px 1px 0.1em 0.01em #799BD2, 2px 4px 0.6em 0.2em rgba(136, 136, 136, 0.3) inset;
	border:							2px solid #799BD2;
}

a:hover,
a:focus,
a.hover {
	color:							#FFFFFF;
	text-decoration:				underline;
	text-shadow:					1px 1px 4px #799BD2,
									0px 0px 2px #799BD2;
	outline:						none;
}

a:active{
	text-decoration:				none;
	outline:						none;
	text-shadow:					none;
}

a {
	color:							#8D8D8D;
	text-decoration:				none;
	display:						inline;
}

#header,
#footer,
#logo-div,
#content-div,
#main-div,
#msgBoxContainer,
#msgBoxContainer .msgBox  {
	display:						block;
}

#header,
#footer,
#content-div,
#msgBoxContainer .msgBox  {
	color:							#F0F0F0;
}

#content-div,
#main-div {
box-shadow:						inset 5px 5px 5em rgba(240, 240, 240, 0.01),
									inset 0px -5px 5em rgba(0, 0, 0, 0.99),
									rgba(0,0,0,0.4) 0px 0px 5em,
									0 0 5px rgba(1, 1, 1, 0.7);
-webkit-box-shadow:				inset 5px 5px 5em rgba(240, 240, 240, 0.01),
									inset 0px -5px 5em rgba(0, 0, 0, 0.99),
									rgba(0,0,0,0.4) 0px 0px 5em,
									0 0 5px rgba(1, 1, 1, 0.7);
	-webkit-border-radius:			10px;
	border-radius:					10px;
	border-right:					1px solid rgba(60, 60, 60, 0.68);
	border-left:					1px solid rgba(60, 60, 60, 0.68);
	border-top:						1px solid rgba(250, 250, 250, 0.47);
	border-bottom:					1px solid rgba(250, 250, 250, 0.27);
}

#msgBoxContainer .msgBox,
#header,
#footer {
box-shadow:						inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
-webkit-box-shadow:				inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
	text-shadow:					1px 1px 1px #000000;
}

#header,
#footer {
	position:						fixed;
	left:							0%;
	min-height:						1.5%;
padding:						10px 2.5%;
	width:							95%;
	z-index: 						999;
	margin:							auto;
text-align:						right;
	border-right:					1px solid rgba(60, 60, 60, 0.28);
	border-left:					1px solid rgba(60, 60, 60, 0.28);
}

#header {
	top:							0;
	-webkit-border-radius:			0 0 10px 10px;
	border-radius:					0 0 10px 10px;
	border-bottom:					1px solid rgba(250, 250, 250, 0.27);
}

#footer {
	bottom:							0;
	-webkit-border-radius:			10px 10px 0 0;
	border-radius:					10px 10px 0 0;
	border-top:						1px solid rgba(250, 250, 250, 0.47);
	text-align:						center;
	
}

#msgBoxContainer {
	position:						absolute;
	width:							20%;
	height:							auto;
	bottom:							5%;
	left:							2.5%;
	z-index:						10101;
}

#msgBoxContainer .msgBox {
	width:							auto;
	min-height:						45px;
	padding:						10px;
	margin-bottom:					8px;
background:						rgba(1, 1, 1, 0.8);
	font-size:						0.9em;
	-webkit-border-radius:			10px;
	border-radius:					10px;
	border-right:					1px solid rgba(60, 60, 60, 0.28);
	border-left:					1px solid rgba(60, 60, 60, 0.28);
	border-top:						1px solid rgba(250, 250, 250, 0.47);
	border-bottom:					1px solid rgba(150, 150, 150, 0.27);
}

#msgBoxContainer .msgBox .icon-close {
	display:						none;
}

#msgBoxContainer .msgBox:hover .icon-close {
	display:						block;
}

#msgBoxContainer .msgBox .title {
	padding-top:					2px;
	margin-bottom:					4px;
	font-size:						1.2em;
	font-weight:					bold;
}

#logo-div {
	width:							150px;
	height:							75px;
	margin:							10px 0px 10px 10%;
	background-image:				url(../img/my-logo.png);
	background-position:			top center;
background-repeat:				no-repeat;
	background-size:				150px 75px;
}

#content-div {
	position:						fixed;
	top:							7.5%;
	left:							8%;
width:							80%;
margin:							0;
margin:							auto;
padding:						1.5%;
	max-height:						80%;
	min-height:						80%;
}

#main-div {
	color:							#2E2E2E;
background-image:				url('../img/container.png');
background-position:			top center;
background-repeat:				repeat;
width:							90%;
margin:							0;
margin:							auto;
margin-top:						0.5%;
margin-bottom:					0.5%;
padding:						2.5%;
	overflow-y:						auto;
	max-height:						1%;
}

#main-div::-webkit-scrollbar {
	width:							10px;
	background-color:				rgba(0, 0, 0, 0);
	border-radius:					6px;
	border-right:					8px solid rgba(0, 0, 0, 0);
}

#main-div::-webkit-scrollbar-thumb {
	background-clip:				padding-box;
	background-color:				rgba(0, 0, 0, 0.7);
	border: 						2px solid rgba(0, 0, 0, 0);
	border-radius:					6px;
}

#main-div::-webkit-scrollbar-thumb:hover {
	background-color:				rgba(0, 0, 0, 0.5);
	border: 						2px solid rgba(0, 0, 0, 0);
	cursor:							pointer;
	cursor:							hand;
}

#main-div::-webkit-scrollbar-thumb:active {
	background-color:				rgba(0, 0, 0, 0.6);
	border: 						2px solid rgba(0, 0, 0, 0);
}

#main-div::-webkit-scrollbar-button {
	height:							4px;
	cursor:							pointer;
	cursor:							hand;
}

#main-div::-webkit-scrollbar-track {
	cursor:							pointer;
	cursor:							hand;
	border-radius:					6px;
	background-color:				rgba(0, 0, 0, 0);
	border-right:					8px solid rgba(0, 0, 0, 0);
}

#main-div::-webkit-scrollbar-track:hover {
	background-color:				rgba(0, 0, 0, 0.3);
}

a.logo-git {
	background-image:				url(../img/github_8D8D8D.png);
	background-position:			bottom left;
background-repeat:				no-repeat;
	background-size:				16px;
	padding-left:					20px;
}

a.logo-git:hover,
a.logo-git:focus,
a.logo-git.hover {
	background-image:				url(../img/github_FFFFFF.png);
}

