body {
    font-family:					helvetica, arial, san-serif;
    background-image:				url('/img/background.png');
    background-position:			top center;
    background-repeat:				repeat-y;
    width:							100%;
    height:							auto;
    margin:							auto;
}

#content-div {
	color:							#FFFFFF;
    background:						rgba(1,1,1,0.6);
    width:							80%;
    min-height:						200px;
    margin:							0;
    margin:							auto;
    margin-top:						4.5%;
    margin-bottom:					1.5%;
    padding:						2.5%;
    box-shadow:						inset 5px 5px 5em rgba(240, 240, 240, 0.01),
									inset 0px -5px 5em rgba(0, 0, 0, 0.99),
									rgba(0,0,0,0.4) 0px 0px 5em,
									0 0 5px rgba(1, 1, 1, 0.7);
    -webkit-box-shadow:				inset 5px 5px 5em rgba(240, 240, 240, 0.01),
									inset 0px -5px 5em rgba(0, 0, 0, 0.99),
									rgba(0,0,0,0.4) 0px 0px 5em,
									0 0 5px rgba(1, 1, 1, 0.7);
	-webkit-border-radius:			10px;
	border-radius:					10px;
	border-right:					1px solid rgba(60, 60, 60, 0.28);
	border-left:					1px solid rgba(60, 60, 60, 0.28);
	border-top:						1px solid rgba(250, 250, 250, 0.47);
	border-bottom:					1px solid rgba(250, 250, 250, 0.27);
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button),
select,
input[type='checkbox'],
input[type='radio'] {
    -webkit-appearance:				none;
    -webkit-user-select:				none;
    background-image:					-webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
    border: 							1px solid rgba(0, 0, 0, 0.25);
    border-radius: 					2px;
    box-shadow: 						0 1px 0 rgba(0, 0, 0, 0.08),
        inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: 							#444444;
    font: 							inherit;
    margin: 							0 1px 0 0;
    outline: 							none;
    text-shadow: 						0 1px 0 rgb(240, 240, 240);
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button),
select {
    min-height: 						2em;
    min-width: 						4em;
    padding-bottom: 					px;
}

:-webkit-any(button,
input[type='button'],
input[type='submit']):not(.custom-appearance):not(.link-button) {
    -webkit-padding-end: 				10px;
    -webkit-padding-start: 			10px;
}

select {
    -webkit-appearance: 				none;
    -webkit-padding-end: 				20px;
    -webkit-padding-start: 				6px;
    /* OVERRIDE */
    background-image: 					url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAQAAACxSAwfAAAAUklEQVQY02P4z0AMRGZGMaShwCisyhITmb8huMzfEhOxKvuvsGAh208Ik+3ngoX/FbBbClcIUcSAw21QhXxfIIrwKAMpfNsEUYRXGVCEFc6CQwBqq4CCCtU4VgAAAABJRU5ErkJggg=='),
	-webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-position: 				right center;
    background-repeat: 					no-repeat;
}

table {
    border-collapse:				collapse;
    border-color:					#999999;
    margin-top:						.5em;
}

th {
    background-color:				#BBBBBB;
    color:							#000000;
}

td,th {
    padding:						.25em;
}

.label {
    text-align: right
}

.error {
    color: red
}

#header {
	color:							#FFFFFF;
	position:						fixed;
	top:							0;
	left:							0%;
    padding:						10px 2.5%;
	width:							95%;
	z-index: 						999;
    background:						rgba(0,0,0,0.4);
	display:						block;
	margin:							auto;
    text-align:						right;
    box-shadow:						inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
    -webkit-box-shadow:				inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
	-webkit-border-radius:			0 0 10px 10px;
	border-radius:					0 0 10px 10px;
	border-right:					1px solid rgba(60, 60, 60, 0.28);
	border-left:					1px solid rgba(60, 60, 60, 0.28);
	border-bottom:					1px solid rgba(250, 250, 250, 0.27);
}

#msgBoxContainer
{
	position:						absolute;
	display:						block;
	width:							20%;
	height:							auto;
	bottom:							5%;
	left:							5%;
}

#msgBoxContainer .msgBox
{
	color:							#FFFFFF;
	display:						block;
	width:							auto;
	height:							45px;
	padding:						10px;
	margin-bottom:					8px;
    background:						rgba(1, 1, 1, 0.8);
	font-size:						0.8em;
    box-shadow:						inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
    -webkit-box-shadow:				inset 5px 5px 1em rgba(240, 240, 240, 0.01),
									inset 0px -5px 1em rgba(0, 0, 0, 0.75),
									rgba(0,0,0,0.2) 0px 0px 1em,
									0 0 5px rgba(1, 1, 1, 0.7);
	-webkit-border-radius:			10px;
	border-radius:					10px;
	border-right:					1px solid rgba(60, 60, 60, 0.28);
	border-left:					1px solid rgba(60, 60, 60, 0.28);
	border-top:						1px solid rgba(250, 250, 250, 0.47);
	border-bottom:					1px solid rgba(150, 150, 150, 0.27);
}