
<link id="favicon" rel="icon" type="image/png" sizes="16x16">
<link id="favicon2x" rel="icon" type="image/png" sizes="32x32">
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
<link type="text/css" rel="stylesheet" href="/css/ui-icons.css"/>
<link type="text/css" rel="stylesheet" href="/css/themes/black/theme.css"/>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/js/Map.js" type="text/javascript"></script>
<script src="/js/messageBox.js" type="text/javascript"></script>